# Docker Build & Push with GitHub repo + Self-hosted agent

trigger:
  branches:
    include:
      - master     # GitHub main branch trigger

resources:
  repositories:
    - repository: self
      type: git
      name: jpvardhan/superset     # GitHub repo name
      ref: refs/heads/master

variables:
  dockerRegistryServiceConnection: 'a10db51c-fc0e-4bf5-b19d-4383916b948b'
  imageRepository: 'intellisuite'
  containerRegistry: 'intellisuiteupwork.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    displayName: Build
    pool:
      name: Default     # Your self-hosted agent pool
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
